<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Add Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src= "./images/symb3.png" class = "symbol">
            <a class="navbar-brand" href="/success">E-waste Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/success" id="home-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    
                  <a class="nav-link" href="/dashboard" id="locate-link"><i class="fa-solid fa-location-dot"></i>  Locate Nearby Center</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile" id="profile-link"> <i class="fa-regular fa-user"></i>Your Profile</a>
                </li>
              </ul>
            </div>
        </nav>

    </div>
    <div class = "row">
        <div class = "redeem">
            Redeem Offers
            </div>
            <div class = "redeem">
        <div class = "credit">
            Your credits: </div>
        </div>
    </div>
    <div class = "row">
    <div class = "product">
        <img src = "./images/ear2.jpeg" style = "width:100%">
        <h3> Oneplus Nord Wired Earphones</h3> 
        <p class = "points">200 credits</p>
        <p>Oneplus Nord Wired Earphones with mic, 3.5mm Audio Jack, Enhanced bass with 9.2mm Dynamic Drivers, in-Ear Wired Earphone - Black</p>
        <p><button class = "product-button">Redeem for points</button></p>
    </div>
    
    <div class = "product">
        <img src = "./images/pb.jpeg" style = "width:100%">
        <h3> Ambrane 20000mAh Power Bank</h3> 
        <p class = "points">700 credits</p>
        <p>Ambrane 20000mAh Power Bank, 20W Fast Charging, Triple Output, Type C PD (Input & Output), Quick Charge, Li-Polymer</p>
        <p><button class = "product-button">Redeem for points</button></p>
    </div>
    <div class = "product">
        <img src = "./images/mouse.jpeg" style = "width:100%">
        <h3> Logitech B170 Wireless Mouse</h3> 
        <p class = "points">150 credits</p>
        <p>Logitech B170 Wireless Mouse, 2.4 GHz with USB Nano Receiver, Optical Tracking, 12-Months Battery Life, Ambidextrous, PC/Mac/Laptop - Black</p>
        <p><button class = "product-button">Redeem for points</button></p>
    </div>
    <div class = "product">
        <img src = "./images/pendrive.jpeg" style = "width:100%">
        <h3> SanDisk Cruzer Blade 32GB USB Flash Drive</h3> 
        <p class = "points">70 credits</p>
        <p>SanDisk Cruzer Blade 32GB USB Flash Drive. Store more with capacities up to 16gb 5-year limited warranty</p>
        <p><button class = "product-button">Redeem for points</button></p>
    </div>
    <div class = "product">
        <img src = "./images/speaker.jpeg" style = "width:100%">
        <h3>Amazon Basics Portable Multimedia Speaker</h3> 
        <p class = "points">180 credits</p>
        <p>Amazon Basics Portable Multimedia Speaker| Suitable for Laptop & Desktop (Black) | USB 2.0 | Deep Bass</p>
        <p><button class = "product-button">Redeem for points</button></p>
    </div>
    <div class = "product">
        <img src = "./images/cable.jpeg" style = "width:100%">
        <h3> boAt Type-C A400</h3> 
        <p class = "points">40 credits</p>
        <p>boAt Type-C A400 | Type-C to USB A 2 Mtrs Cable| 3A Fast Charging & 480mbps Data Transmission | Comparible for all Smartphones & Tablets </p>
        <p><button class = "product-button">Redeem for points</button></p>
    </div>
</div>
